body {
    text-align: center;
    background-color: #184d86;
}

#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #FEF2BF;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    margin: 2px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    /* border-radius: 200px 20px 20px 20px */
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.red {
    background-color: red;
    border-radius: 20px 200px 20px 20px;
}

.green {
    background-color: green;
    border-radius: 200px 20px 20px 20px;
}

.blue {
    background-color: blue;
    border-radius: 20px 20px 200px 20px;
}

.yellow {
    background-color: yellow;
    border-radius: 20px 20px 20px 200px;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}